name: Build and push to GitHub Container Registry
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 3 * * 1"
  workflow_dispatch:

jobs:
  build-latest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Get upstream tag
        id: get_upstream_tag
        run:  echo "UPSTREAM_TAG=$(grep -oP '(?<=FROM caddy:)([0-9]+\.[0-9]+\.[0-9]+)(?=@)' Dockerfile)" >> "$GITHUB_OUTPUT"

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: "${{ github.workspace }}"
          push: true
          tags: |
            ghcr.io/chmey/caddy-cloudflare:latest
            ghcr.io/chmey/caddy-cloudflare:${{ steps.get_upstream_tag.outputs.UPSTREAM_TAG }}
